.nav-item .active{
  border-bottom: 2px solid crimson;
  color: crimson !important;
  font-weight: bold;
}
.bg{
  background-image: url(./background.png);
}
.color{
  background-color: black;
}
.my-card-img{
  object-fit: cover;
  height: 200px;
  transition-duration: 0.3s;
}
.my-card-img:hover{
  transform: scale(1.2);
}
.chat-container{
    height:65vh;
    background-image: linear-gradient(0deg, rgb(156, 80, 80),blue);
}
.msg{
  background-color: green;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
  border-radius: 20px 10px 10px 0px;
  width: fit-content;
}

.msg-sent{
  background-color:rgb(35, 127, 35);
}

.msg-rec{
  background-color: rgb(79, 25, 79);
  margin-left: auto;
  border-radius: 10px 20px 0px 10px;
}