.myclass{
  background-color: crimson;
  text-align: center;
  color: white;
  font-size: 50px;
}
.nav-item .active{
  border-bottom: 2px solid crimson;
  color: crimson !important;
  font-weight: bold;
}